<div class="container mt-2">

  <ng-container *ngIf="customers | async as listCustomer; else failureOrLoading ">
    <div class="card">
      <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
      <div class="card-header">
        Customers
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>
              Id
            </th>
            <th>
              Name
            </th>
            <th>
              Surname
            </th>
          </tr>

          </thead>
          <tbody>
          <tr *ngFor="let c of customers | async">
            <td>{{c.customerId}}</td>
            <td>{{c.name}}</td>
            <td>{{c.surname}}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading ">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      is loading ...
    </ng-template>
  </ng-template>

</div>
